<?xml version="1.0" encoding="utf-8"?>
<!-- ENABLE INF PRELOAD
Usage:
Stage_inf_file is the node specifying inf the coinstaller should preload. Create one element per inf to preload. 

This element can OPTIONALLY specify attributes that can be either of the following:
SUPPORTEDOS: A list of ";" separated OSes that this inf needs to be preloaded on. If this is an empty string or is not present it means this infs has to be preloaded on all OSes
UNSUPPORTEDOS: A list of ";" separated OSes where this inf should not be preloaded. This attribute will be used only if SUPPORTEDOS is not specified or is an empty string. 

OS:
Windows 2000:		   500
Windows XP :		   501 
Windows Server 2003:	   502 
Windows Vista:		   600 

Windows XP 64 bit	   501_64
Windows Vista 64 bit	   600_64

example:

preload hpzid412.inf only on Win 2000, XP and 2k3
<stage_inf_file SUPPORTEDOS="500;501;502;">hpzid412.inf</stage_inf_file>

Preload hpzipr12.inf on all os' except Vista 32 and 64
<stage_inf_file UNSUPPORTEDOS="600;600_64;">hpzipr12.inf</stage_inf_file>

!!!!!!!!!! DO NOT FORGET THE TRAILING ";" IN THE LIST OF SUPPORTED/UNSUPPORTED OS !!!!!!!!!!
-->

<!-- ENABLE STACK TEARDOWN (Typically used for DOT4 devices that by default get installed over usbprint on Windows 2000)
Usage:
Specify the original hardware id that needs to be teared down as the node. The value should be the original USB vid pid based hardware id that has a match in the CIO infs. The above described attributes SUPPORTEDOS 
and UNSUPPORTEDOS can be applied to this aswell.

example:
<HEWLETT-PACKARDHP_LASERJET_3050>usb\vid_03f0&amp;PID_3217&amp;MI_00</HEWLETT-PACKARDHP_LASERJET_3050>

-->
<settings>
  <stage_inf_file SUPPORTEDOS="500;501;502;600;">hpcu255c.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;502_64;600_64;">hpcu255u.inf</stage_inf_file>

  <stage_inf_file SUPPORTEDOS="500;501;502;600;">hpmews01.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;502_64;600_64;">hpmews02.inf</stage_inf_file>
  <stage_inf_file>hppfaxnd.inf</stage_inf_file>
  <stage_inf_file>hppscnd.inf</stage_inf_file>
  <stage_inf_file>hppewnd.inf</stage_inf_file>

  <stage_inf_file SUPPORTEDOS="501;500;502;">hpzius13.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501;500;502;">hpzid413.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501;500;502;">hpzipr13.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501;500;502;">hpzipa13.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;">hpzius23.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;">hpzipr23.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;">hpzipa23.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="600;600_64;">hpzid4vp.inf</stage_inf_file>
  
  <HEWLETT-PACKARDHP_COLOR_LASERJET_CM6030_MFP>usb\VID_03F0&amp;PID_8C17</HEWLETT-PACKARDHP_COLOR_LASERJET_CM6030_MFP>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_CM6040_MFP>usb\VID_03F0&amp;PID_7C17</HEWLETT-PACKARDHP_COLOR_LASERJET_CM6040_MFP>
  <HEWLETT-PACKARDHP_LASERJET_M9050_MFP>usb\VID_03F0&amp;PID_8317</HEWLETT-PACKARDHP_LASERJET_M9050_MFP>
  <HEWLETT-PACKARDHP_LASERJET_M9040_MFP>usb\VID_03F0&amp;PID_8417</HEWLETT-PACKARDHP_LASERJET_M9040_MFP>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_CP6015>usb\VID_03F0&amp;PID_6F17</HEWLETT-PACKARDHP_COLOR_LASERJET_CP6015>
  <HEWLETT-PACKARDHP_LASERJET_CM8060>usb\VID_03F0&amp;PID_7117</HEWLETT-PACKARDHP_LASERJET_CM8060>
  <HEWLETT-PACKARDHP_LASERJET_CM8050>usb\VID_03F0&amp;PID_7717</HEWLETT-PACKARDHP_LASERJET_CM8050>
  <HEWLETT-PACKARDHP_LASERJET_P4015>usb\VID_03F0&amp;PID_8117</HEWLETT-PACKARDHP_LASERJET_P4015>
  <HEWLETT-PACKARDHP_LASERJET_P4515>usb\VID_03F0&amp;PID_8017</HEWLETT-PACKARDHP_LASERJET_P4515>
  <HEWLETT-PACKARDHP_LASERJET_P4014>usb\VID_03F0&amp;PID_8217</HEWLETT-PACKARDHP_LASERJET_P4014>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_CP3525>usb\VID_03F0&amp;PID_8517</HEWLETT-PACKARDHP_COLOR_LASERJET_CP3525>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_CM3530_MFP>usb\VID_03F0&amp;PID_8A17</HEWLETT-PACKARDHP_COLOR_LASERJET_CM3530_MFP>
  <HEWLETT-PACKARDHP_LASERJET_P3010_SERIES>usb\VID_03F0&amp;PID_8D17</HEWLETT-PACKARDHP_LASERJET_P3010_SERIES>
  <HEWLETT-PACKARDHP_LASERJET_P3010_SERIES>usb\VID_03F0&amp;PID_8D17&amp;REV_0100</HEWLETT-PACKARDHP_LASERJET_P3010_SERIES>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_2840>
    usb\vid_03f0&amp;pid_2817&amp;rev_0100&amp;mi_00</HEWLETT-PACKARDHP_COLOR_LASERJET_2840>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_2840>usb\vid_03f0&amp;pid_2817&amp;mi_00</HEWLETT-PACKARDHP_COLOR_LASERJET_2840>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_2830>
    usb\vid_03f0&amp;pid_2717&amp;rev_0100&amp;mi_00
  </HEWLETT-PACKARDHP_COLOR_LASERJET_2830>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_2830>usb\vid_03f0&amp;pid_2717&amp;mi_00</HEWLETT-PACKARDHP_COLOR_LASERJET_2830>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_2820>
    usb\vid_03f0&amp;pid_2617&amp;rev_0100&amp;mi_00
  </HEWLETT-PACKARDHP_COLOR_LASERJET_2820>
  <HEWLETT-PACKARDHP_COLOR_LASERJET_2820>usb\vid_03f0&amp;pid_2717&amp;mi_00</HEWLETT-PACKARDHP_COLOR_LASERJET_2820>
  <VID_03F0_PID_2817_REV_0100_MI_00>usb\Vid_03f0&amp;Pid_2817&amp;rev_0100&amp;mi_00</VID_03F0_PID_2817_REV_0100_MI_00>
  <VID_03F0_PID_2817_MI_00>usb\Vid_03f0&amp;Pid_2817&amp;mi_00</VID_03F0_PID_2817_MI_00>
  <VID_03F0_PID_2717_MI_00>usb\Vid_03f0&amp;Pid_2717&amp;mi_00</VID_03F0_PID_2717_MI_00>
  <VID_03F0_PID_2717_REV_0100_MI_00>usb\Vid_03f0&amp;Pid_2717&amp;rev_0100&amp;mi_00</VID_03F0_PID_2717_REV_0100_MI_00>
  <VID_03F0_PID_2617_REV_0100_MI_00>usb\Vid_03f0&amp;Pid_2617&amp;rev_0100&amp;mi_00</VID_03F0_PID_2617_REV_0100_MI_00>
  <VID_03F0_PID_2617_MI_00>usb\Vid_03f0&amp;Pid_2617&amp;rev_0100&amp;mi_00</VID_03F0_PID_2617_MI_00>
</settings>
