<?xml version="1.0" encoding="utf-8"?>
<settings>
  <stage_inf_file SUPPORTEDOS="500;501;502;600;">hpcu255c.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;502_64;600_64;">hpcu255u.inf</stage_inf_file>

  <stage_inf_file SUPPORTEDOS="500;501;502;600;">hpmews01.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;502_64;600_64;">hpmews02.inf</stage_inf_file>
  <stage_inf_file>hppfaxnd.inf</stage_inf_file>
  <stage_inf_file>hppscnd.inf</stage_inf_file>
  <stage_inf_file>hppewnd.inf</stage_inf_file>

  <stage_inf_file SUPPORTEDOS="500;501;502;">hpzius13.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="500;501;502;">hpzid413.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="500;501;502;">hpzipr13.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="500;501;502;">hpzipa13.inf</stage_inf_file>

  <stage_inf_file SUPPORTEDOS="501_64;502_64;">hpzius23.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;502_64;">hpzipr23.inf</stage_inf_file>
  <stage_inf_file SUPPORTEDOS="501_64;502_64;">hpzipa23.inf</stage_inf_file>
  
  <stage_inf_file SUPPORTEDOS="600;600_64;">hpzid4vp.inf</stage_inf_file>

</settings>
